<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mike.fantasygame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DragonCastle.Activities.MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DragonCastle.Activities.DifficultyActivity"
            android:label="@string/difficult_title"
            android:parentActivityName=".DragonCastle.Activities.MainScreen" />
        <activity
            android:name=".DragonCastle.Activities.CharacterSelectionActivity"
            android:label="@string/title_activity_character_selection"
            android:parentActivityName=".DragonCastle.Activities.DifficultyActivity" />
        <activity
            android:name=".DragonCastle.Activities.HeroOptionDetailedActivity"
            android:label="@string/hero_detail_view"
            android:parentActivityName=".DragonCastle.Activities.CharacterSelectionActivity" />
        <activity
            android:name=".DragonCastle.Activities.FightActivity"
            android:label="@string/fight_activity"
            android:parentActivityName=".DragonCastle.Activities.CharacterSelectionActivity" />
        <activity
            android:name=".DragonCastle.Activities.GameOverActivity"
            android:label="@string/heroes_Defeated"
            android:parentActivityName=".DragonCastle.Activities.FightActivity"
            />
        <activity android:name=".DragonCastle.Activities.HeroVictoryActivity"
            android:label="@string/hero_victory"
            android:parentActivityName=".DragonCastle.Activities.FightActivity"/>
    </application>

</manifest>